<br><h1 class="text-center"> All Leagues </h1><br>
<ul class="list-group">
    <% @leagues.each do |league| %>
        <li class="list-group-item"> <%= link_to league.name, league_path(league) %> </li>
    <% end %><br>
</ul>

<p> <%= link_to "Add new League", new_league_path %> </p>