<br><h1 class="text-center"> All Users </h1><br>
<ul class="list-group">
    <% @users.each do |user| %>
        <li class="list-group-item"> <%= link_to user.name, user_path(user) %> </li>
    <% end %>
</ul><br>

<p> <%= link_to "Create new User", new_user_path %> </p>