<h1> <%= @user.name + "'s Home Page" %> </h1>

<% if @user.team %>
    <h3> My Team: <%= link_to @user.team.name, team_path(@user.team) %> </h3>
<% else %>
    <p> You have not created your club yet! <%= link_to "Create your team now", new_team_path %> </p>
<% end %>