// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pitch-container {
    height: 680px;
    background-color: purple;
    width: 50%;
    margin: 0px auto;
}

.pitch-header {
    height: 136px;
}

.pitch {
    height: 544px;
    background-color: green;
}

.pitch-row {
    height: 25%;
}
